@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-50: #f2e7ff; /* Lightest purple */
    --color-primary-100: #e6d4ff;
    --color-primary-200: #d4bfff;
    --color-primary-300: #c2aaff;
    --color-primary-400: #b095ff;
    --color-primary-500: #9e80ff; /* Mid purple */
    --color-primary-600: #8c6bff;
    --color-primary-700: #7a56ff;
    --color-primary-800: #6841ff;
    --color-primary-900: #562cff; /* Darkest purple */
}

@source "../node_modules/flowbite-svelte/dist";
